.Compose{
    width: 200px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
}


@media  only screen and (max-width:680px){
    .Compose{
        margin: 20px auto;
        
    }
}

.pos{
    position: absolute;
    z-index: 99999;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
