<!-- <div class="Container_Email">
    <div class="List">
    <div class="emails_item">
    <app-email-inbox></app-email-inbox>    
    </div>
    <div class="show_email" >
        <router-outlet></router-outlet>
    </div>
    </div>
</div>
 -->

<div class="ui centered grid item" style="padding: 70px;">
    <!-- 5 -->
 
    <div class="five wide tablet  eight wide computer column   Contianer_emails   " >
        <app-email-inbox></app-email-inbox>
    </div>
    <div class="seven wide tablet  eight wide computer column"  >  
    <router-outlet></router-outlet>    
    </div>

</div>