<div (click)="ondismissclick()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="fa-solid fa-xmark icon" (click)="ondismissclick()" style="position: absolute ;font-size: 30px ; right: 0;" ></i>
        <div class="header">
            <ng-content select="[modatitle]"></ng-content>
        </div>
        <div class="content">
            <ng-content ></ng-content>
        </div>

        

        <div class="actions">
            <ng-content select="[modafooter]"></ng-content>
        </div>

    </div>
 